* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: thistle;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2rem;
}

button {
  font-size: 1.2rem;
}
